@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: url('IMG_20240718_122227_205.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    overflow-x: hidden;
}

header {
    background: rgba(109, 109, 109, 0.8);
    color: #000000;
    padding: 1rem 0;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

section {
    margin: 2rem auto;
    padding: 1rem;
    max-width: 600px;
    background: rgba(171, 171, 171, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: slideInUp 1.5s ease-out;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: a#828282;
    color: #000000;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 4px;
    animation: bounceIn 1s ease;
}

footer {
    background: rgba(105, 105, 105, 0.8);
    color: #000000;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes slideInUp {
    0% { transform: translateY(100px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

@keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% { opacity: 0; transform: scale3d(.3, .3, .3); }
    20% { transform: scale3d(1.1, 1.1, 1.1); }
    40% { transform: scale3d(.9, .9, .9); }
    60% { opacity: 1; transform: scale3d(1.03, 1.03, 1.03); }
    80% { transform: scale3d(.97, .97, .97); }
    100% { opacity: 1; transform: scale3d(1, 1, 1); }
}
